[Unit]
Description=Timer for run lte-reboot-qmi service every 5 minute
Requires=lte-reboot.service

[Timer]
Unit=lte-reboot.service
OnCalendar=*:*:00

[Install]
WantedBy=timers.target
