[Unit]
Description=Watchdog for rebooting openvpn, if tunnel stuck
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/dotnet/openvpn-watchdog
ExecStart=/usr/sbin/openvpn-watchdog
Restart=always
Environment=DOTNET_GCHeapHardLimit=0x800000
Environment=DOTNET_GCServer=0
Environment=COMPlus_gcServer=0
Environment=COMPlus_GCHeapCount=1
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target