[Unit]
Description=LTE channel manager
Wants=NetworkManager.service
After=multi-user.target NetworkManager.service

[Service]
Type=simple
Restart=always
RestartSec=5s
TimeoutStartSec=30s
ExecStart=/usr/sbin/lte-reboot
Environment="DOTNET_GCHeapHardLimit=0x800000"

[Install]
WantedBy=multi-user.target
