[Unit]
Description=Timer for run lte-reboot-qmi service every 20 seconds
Requires=lte-reboot.service

[Timer]
Unit=lte-reboot.service
OnCalendar=*:*:00,20,40

[Install]
WantedBy=timers.target
