[Unit]
Description=Load and store config files on persistent partition
Before=network-pre.target

[Service]
Type=simple
ExecStart=/usr/sbin/persist-config
Environment="DOTNET_BUNDLE_EXTRACT_BASE_DIR=/tmp"
Environment="DOTNET_HOSTBUILDER__RELOADCONFIGONCHANGE=false"
Environment="DOTNET_GCHeapHardLimit=0x800000"

[Install]
WantedBy=multi-user.target
