@using System.Diagnostics
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Environment.MachineName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Modem Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="systemd">
                <span class="oi oi-check" aria-hidden="true"></span> Systemd
            </NavLink>
        </div>
    </nav>
</div>

<div class="bottom-row ps-3 navbar navbar-dark">
    <div class="navbar-brand">@Environment.MachineName</div>
    <div class="navbar-brand">@System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture</div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
